version: "3.6"

services:
    web:
        build: .
        tty: true
        env_file:
            - .env
        ports:
            - "${NODE_PORT}:${NODE_PORT}"
        volumes:
            - .:/home/app
            - ~/.npm:/.npm

    assets:
        build: .
        tty: true
        ports:
            - "3000:3000"
        volumes:
            - .:/home/app
        command: npm run dev -- --host
